
body{
    background-color: hsl(217, 54%, 11%);
    font-family: "Outfit";
    font-size: 16px;

}
.container{
    position: relative;
    max-width: 250px;
    border-radius: 4%;
    background-color: hsl(216, 50%, 16%);
    margin: 10% auto;
    padding: clamp(10px, 20px, 25px);
    -webkit-box-shadow: 4px 4px 18px 5px rgba(0,0,0,0.5);
            box-shadow: 4px 4px 18px 5px rgba(0,0,0,0.5);
}

.card-header{
    width: 250px;
    height: 300px;
    
}

.card-header-image{
    
    width: 100%;
    height: auto;
    border-radius: 4%;
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
} 

.card-header-image:hover{
    background-color: purple;
     -webkit-transform: scale(102%);
         -ms-transform: scale(102%);
             transform: scale(102%);
}

.card-header-overlay{
    position: absolute;
    top: 20px;
    left: 20px;
    width: 250px;
    height: 250px;
    border-radius: 4%;
    background-color: hsla(178, 100%, 50%, 0.1);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.card-header-overlay:hover{
    background-color: hsla(178, 100%, 50%, 0.5);
    cursor: pointer;
}

.card-header-overlay img{
    opacity: 0;
}

.card-header-overlay img:hover{
    opacity: 1;
    cursor: pointer;
}

.card-section{
    margin-top: -50px;
}

.card-text h2{
    color: hsl(0, 0%, 100%);
}

.card-text h2:hover{
    color: hsl(178, 100%, 50%);
    cursor: pointer;
}

.card-text p{
    color: hsl(215, 51%, 70%);
    font-weight: 300;
}

.card-ETH{
    color: hsl(178, 100%, 50%);
    font-size: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
            -ms-flex-preferred-size: 60%;
                flex-basis: 60%;
 
}

.card-ETH img, .card-time img{
    margin-right: 5px;
}

.card-time{
    color: hsl(215, 51%, 70%);
    font-size: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
            -ms-flex-preferred-size: 40%;
                flex-basis: 40%;
    
}

.card-section-container{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; 
}

.the-line{
    border: 0;
    border-bottom: 2px solid hsl(215, 32%, 27%);
}

.card-footer{
    font-size: 14px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 20px 0 0 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.card-footer p{
    color:  hsl(215, 51%, 70%);
}

.card-footer a{
    color: hsl(0, 0%, 100%);
    text-decoration: none;
}

.card-footer a:hover{
    color: hsl(178, 100%, 50%);
    cursor: pointer;
}

.card-footer img{
    border: solid 1px white;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.attribution { 
    color: white;
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}